title: Netsoc
email: internet@csc.tcd.ie
description: TCD's Internet Society
keywords: netsoc, tcd, tcd netsoc

baseurl: ''
url: 'netsoc.ie'

author:
  github: https://github.com/netsoc
  twitter: https://twitter.com/netsoc
  facebook: https://www.facebook.com/dunetsoc
  instagram: https://www.instagram.com/dunetsoc
  youtube: https://www.youtube.com/channel/UCKOOtulGU4_rllgRI3cshMw

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - docker-compose.yaml
  - docker/
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
