{% include accent-bar.html %}
<div style='padding:0rem;'>
  <nav class="navbar navbar-expand-lg navbar-dark nav-bg">
    <a href='/'>
      <img src="/assets/images/netsoc-logo.svg" style="height: 3rem;margin-right: 3rem;" class="navbar-brand" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        {% for item in site.data.navigation %}
        <li class="nav-item">
          <a class="nav-font-styles nav-link hover-underline-animation {% if item.link == page.url %} selected-navlink {% endif %}"
             href="{{ item.link }}"{% if item.new_tab %}target="_blank" {% endif %} data-abc="true">
            {{item.name}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
