<div style="margin-left: auto;margin-right: auto;display: table; padding-top: 1rem;">
    <a href="{{ site.author.github }}" style="height: 2rem;vertical-align: middle;display: table-cell;">
        <img src="../assets/images/github-logo.png" style="max-height: 4rem;"/>
    </a>
    <a href="{{ site.author.facebook }}" style="height: 2rem;vertical-align: middle;display: table-cell;">
        <img src="../assets/images/facebook-logo.png" style="max-height: 4rem;"/>
    </a>
    <a href="{{ site.author.twitter }}" style="height: 2rem;vertical-align: middle;display: table-cell;"> 
        <img src="../assets/images/twitter-logo.png" style="max-height: 4rem;"/>
    </a>
    <a href="{{ site.author.instagram }}" style="height: 2rem;vertical-align: middle;display: table-cell;"> 
        <img src="../assets/images/instagram-logo.jpeg" style="max-height: 4rem;"/>
    </a>
    <a href="{{ site.author.youtube }}" style="height: 2rem;vertical-align: middle;display: table-cell;"> 
        <img src="../assets/images/youtube-logo.png" style="max-height: 4rem;"/>
    </a>
</div>
